<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f4f4f4;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%; /* Genişlik tüm ekranı kaplar */
            height: 100%; /* Yükseklik tüm ekranı kaplar */
            object-fit: cover; /* Görüntüyü alanın tamamını kaplayacak şekilde ayarlar, kırpma olabilir */
        }
    </style>
</head>
<body>
<img src="/Images/forgotpass.jpg" alt="Forgot Password Image">
</body>
</html>